/* Header Styles */
.theme-light {
    --bg-color: #e5e7eb;
    --text-color: #374151;
    --menu-bg-color: #f9fafb;
    --menu-text-color: #374151;
    --primary-color: #4b5563;
    --secondary-color: #6b7280;
    --accent-color: #10b981;
    --icon-bg-color: #c2ddf3;
    --icon-color: #f59e0b;
    --grass-color: #51ed45;
    --pastel-blue: #dbeafe;
    --pastel-blue-text: #1e3a8a;
    --pastel-yellow: #fef9c3;
    --pastel-yellow-text: #7c2d12;
    --pastel-green: #d1fae5;
    --pastel-green-text: #064e3b;
}

.theme-dark {
    --bg-color: #1f2937;
    --text-color: #f3f4f6;
    --menu-bg-color: #374151;
    --menu-text-color: #f3f4f6;
    --primary-color: #4b5563;
    --secondary-color: #9ca3af;
    --accent-color: #34d399;
    --icon-bg-color: #1a3d67;
    --icon-color: #f3f4f6;
    --grass-color: #07503b;
    --pastel-blue: #1e40af;
    --pastel-blue-text: #dbeafe;
    --pastel-yellow: #854d0e;
    --pastel-yellow-text: #fef9c3;
    --pastel-green: #065f46;
    --pastel-green-text: #d1fae5;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 50%;
    text-align: center;
    transition: background-color 1s;
    background-color: var(--primary-color);
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.menu-btn {
    position: relative;
    background-color: var(--icon-bg-color);
    color: var(--icon-color);
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0; /* Square shape for menu button */
    width: 40px;
    height: 40px;
}

.menu-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: var(--grass-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.theme-btn {
    background-color: var(--icon-bg-color);
    color: var(--icon-color);
    transition: background-color 0.3s, color 0.3s;
}

#app-drawer {
    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
}

.theme-icon {
    display: inline-block;
    transition: transform 1s, color 1s;
}

.theme-icon.sun {
    transform: rotate(0deg);
    color: #fcd34d; /* Yellow for Sun */
}

.theme-icon.moon {
    transform: rotate(180deg);
    color: #93c5fd; /* Blue for Moon */
}
